<ion-header>
  <ion-toolbar>
   <h3> Ejercicio</h3>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="userhome"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
  <ion-slide>

   <ion-list>  
      <h1>Aquí podrás encontrar todos los planes de ejercicio disponibles</h1>
     <ion-item *ngFor="let item of items | async">
        <div class="card">
            <ion-grid style="height: 100%">
              <ion-row justify-content-center align-items-center style="height: 100%">
        <ion-card (click)="elementoSeleccionado(item,item.key)">
        <ion-card-header>

          <ion-card-title>
              <ion-icon name="body"></ion-icon>
            Nombre del plan: {{item.nombre}}</ion-card-title>
          <ion-card-subtitle>
              <ion-icon name="fitness"></ion-icon>
            Descripción del plan: {{item.descripcion}}</ion-card-subtitle>
          <ion-card-subtitle>
              <ion-icon name="heart"></ion-icon>
            Objetivo del plan: {{item.objetivo}}</ion-card-subtitle>
            <ion-card-subtitle>
                <ion-icon name="clock"></ion-icon>
             Duración del plan (En días): {{item.duracion}}</ion-card-subtitle>

        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
        <img src={{item.imagen}}/>
      </ion-card>
    </ion-row>
  </ion-grid>
</div>
     </ion-item>
     <p>
        <ion-icon name="fastforward"></ion-icon>
        Desliza para ver tus dietas recomendadas   
    </p>
   </ion-list>
  </ion-slide>
<ion-slide>
  
     <ion-list>  
        <h1>Aquí podrás encontrar todos los planes de ejercicio recomendados para ti</h1>
       <ion-item *ngFor="let item of recomendaciones">
          <div class="card">
              <ion-grid style="height: 100%">
                <ion-row justify-content-center align-items-center style="height: 100%">
          <ion-card (click)="elementoSeleccionado(item,item.key)">
          <ion-card-header>
  
            <ion-card-title>
                <ion-icon name="body"></ion-icon>
              Nombre del plan: {{item.nombre}}</ion-card-title>
            <ion-card-subtitle>
                <ion-icon name="fitness"></ion-icon>
              Descripción del plan: {{item.descripcion}}</ion-card-subtitle>
            <ion-card-subtitle>
                <ion-icon name="heart"></ion-icon>
              Objetivo del plan: {{item.objetivo}}</ion-card-subtitle>
              <ion-card-subtitle>
                  <ion-icon name="clock"></ion-icon>
               Duración del plan (En días): {{item.duracion}}</ion-card-subtitle>
  
          </ion-card-header>
          <ion-card-content>
          </ion-card-content>
          <img src={{item.imagen}}/>
        </ion-card>
      </ion-row>
    </ion-grid>
  </div>
       </ion-item>
       <p>
          <ion-icon name="rewind"></ion-icon>
          Desliza para ver todas las dietas
      </p>
     </ion-list>
  </ion-slide>
</ion-slides>
</ion-content>