<ion-header>
    <ion-toolbar>
     <h3>Ver platos</h3>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="nutricion"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
    <div style = "text-align: center;">
    <ion-button color="light" (click)="seleccionarDieta()">Seleccionar dieta</ion-button>
    </div>
    <ion-list> 
        <div *ngFor="let item of items" class=category-block>
          <ion-row no-padding class="category-banner">
            <ion-col (click)="item.expanded = !item.expanded" aling-self center>
                {{ item.nombre }}
            </ion-col>
          </ion-row>
            <div *ngIf="item.expanded && item.nombre=='Almuerzo'">
                   
                <ion-list> 
                    <div *ngFor="let ite of almuerzo;let i=index;" class=category-blockk>
              
                      <ion-row no-padding class="category-bannerr">
                        <ion-col text-left button tappable (click)="ite.expanded = !ite.expanded" aling-self center>
                            Calorías: {{ ite.calorias }}
                        </ion-col>
                      </ion-row>
              
                  <div *ngIf="ite.expanded">
                   <ion-item >
                      <ion-card>
                      <ion-card-header>
                        <ion-card-title>Nombre del plato: {{ite.nombre}}</ion-card-title>
                        <ion-card-subtitle>Descripción del plato: {{ite.descripcion}}</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                      </ion-card-content>
                      <img src={{ite.imagen}}/>
                      <p>
                        <ion-icon name="clock"></ion-icon>
                        Tiempo de preparación {{ite.duracion}}
                      </p>
                      <p>
                        <ion-icon name="heart"></ion-icon>
                        Calorias {{ite.calorias}}
                      </p>
                        <h2>
                          Ingredientes
                        </h2>
                        <div *ngFor="let obj of ite.ingredientes">
                          <td>- {{obj}}</td>
                        </div>
                        <h2>
                          Preparación
                        </h2>
                        <div *ngFor="let obj of ite.pasos;let i=index">
                          <td> {{i+1}}. {{obj}}</td>
                      </div>
                    </ion-card>
                   </ion-item>
                  </div>
                  </div> 
                 </ion-list>

            </div>
            <div *ngIf="item.expanded && item.nombre=='Desayuno'">
                   
                <ion-list> 
                    <div *ngFor="let ite of desayuno;let i=index" class=category-blockk>
              
                      <ion-row no-padding class="category-bannerr">
                        <ion-col text-left button tappable (click)="ite.expanded = !ite.expanded" aling-self center>
                            Calorías: {{ ite.calorias }}
                        </ion-col>
                      </ion-row>
              
                  <div *ngIf="ite.expanded">
                   <ion-item >
                      <ion-card>
                      <ion-card-header>
                        <ion-card-title>Nombre del plato: {{ite.nombre}}</ion-card-title>
                        <ion-card-subtitle>Descripción del plato: {{ite.descripcion}}</ion-card-subtitle>
                      </ion-card-header>
                      <ion-card-content>
                      </ion-card-content>
                      <img src={{ite.imagen}}/>
                      <p>
                        <ion-icon name="clock"></ion-icon>
                        Tiempo de preparación {{ite.duracion}}
                      </p>
                      <p>
                        <ion-icon name="heart"></ion-icon>
                        Calorias {{ite.calorias}}
                      </p>
                        <h2>
                          Ingredientes
                        </h2>
                        <div *ngFor="let obj of ite.ingredientes">
                          <td>- {{obj}}</td>
                        </div>
                        <h2>
                          Preparación
                        </h2>
                        <div *ngFor="let obj of ite.pasos;let i=index">
                          <td> {{i+1}}. {{obj}}</td>
                      </div>
                    </ion-card>
                   </ion-item>
                  </div>
                  </div> 
                 </ion-list>

            </div>
            <div *ngIf="item.expanded && item.nombre=='Comida'">
                   
              <ion-list> 
                  <div *ngFor="let ite of comida;let i=index" class=category-blockk>
            
                    <ion-row no-padding class="category-bannerr">
                      <ion-col text-left button tappable (click)="ite.expanded = !ite.expanded" aling-self center>
                          Calorías: {{ ite.calorias }}
                      </ion-col>
                    </ion-row>
            
                <div *ngIf="ite.expanded">
                 <ion-item >
                    <ion-card>
                    <ion-card-header>
                      <ion-card-title>Nombre del plato: {{ite.nombre}}</ion-card-title>
                      <ion-card-subtitle>Descripción del plato: {{ite.descripcion}}</ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                    </ion-card-content>
                    <img src={{ite.imagen}}/>
                    <p>
                      <ion-icon name="clock"></ion-icon>
                      Tiempo de preparación {{ite.duracion}}
                    </p>
                    <p>
                      <ion-icon name="heart"></ion-icon>
                      Calorias {{ite.calorias}}
                    </p>
                      <h2>
                        Ingredientes
                      </h2>
                      <div *ngFor="let obj of ite.ingredientes">
                        <td>- {{obj}}</td>
                      </div>
                      <h2>
                        Preparación
                      </h2>
                      <div *ngFor="let obj of ite.pasos;let i=index">
                        <td> {{i+1}}. {{obj}}</td>
                    </div>
                  </ion-card>
                 </ion-item>
                </div>
                </div> 
               </ion-list>

          </div>
          <div *ngIf="item.expanded && item.nombre=='Merienda'">
                   
            <ion-list> 
                <div *ngFor="let ite of merienda;let i=index" class=category-blockk>
          
                  <ion-row no-padding class="category-bannerr">
                    <ion-col text-left button tappable (click)="ite.expanded = !ite.expanded" aling-self center>
                        Calorías: {{ ite.calorias }}
                    </ion-col>
                  </ion-row>
          
              <div *ngIf="ite.expanded">
               <ion-item >
                  <ion-card>
                  <ion-card-header>
                    <ion-card-title>Nombre del plato: {{ite.nombre}}</ion-card-title>
                    <ion-card-subtitle>Descripción del plato: {{ite.descripcion}}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>
                  </ion-card-content>
                  <img src={{ite.imagen}}/>
                  <p>
                    <ion-icon name="clock"></ion-icon>
                    Tiempo de preparación {{ite.duracion}}
                  </p>
                  <p>
                    <ion-icon name="heart"></ion-icon>
                    Calorias {{ite.calorias}}
                  </p>
                    <h2>
                      Ingredientes
                    </h2>
                    <div *ngFor="let obj of ite.ingredientes">
                      <td>- {{obj}}</td>
                    </div>
                    <h2>
                      Preparación
                    </h2>
                    <div *ngFor="let obj of ite.pasos;let i=index">
                      <td> {{i+1}}. {{obj}}</td>
                  </div>
                </ion-card>
               </ion-item>
              </div>
              </div> 
             </ion-list>

        </div>
        </div> 
   </ion-list>
   <ion-button color="light" (click)="atras()">Atrás</ion-button>

</ion-content>