.category-block{
    margin-bottom: 4px;
}
.category-banner{
    border-left: 15px solid var(--ion-color-secondary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}
.category-blockk{
    margin-bottom: 4px;
}
.category-bannerr{
    border-left: 15px solid var(--ion-color-primary);
    background: var(--ion-color-light);
    height: 40px;
    padding: 10px;
    font-weight: 500;
}