ion-card{

     text-align: center;
    align-items: center;
  }


li{
    text-align: center;
    align-items: center;
}

.tood{
  text-align: center;
  align-items: center;
}
img{
  width: 150px;
  height: 150px;
  background-position: -25px -20px;  
  border-radius: 50%;
  background-size: cover;
  align-items: center;
  display:block;
  margin:auto;  
}
h4{
  text-align: center;
  align-items: center;
}