<ion-header>
  <ion-toolbar>
    <ion-title>Healthy Routine</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-menu contentId="content2" side="start">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú principal</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="nutricionUserClick()">
          <ion-icon name="nutrition"></ion-icon>
        Nutrición
      </ion-item>
      <ion-item (click)="ejercicioClick()">
          <ion-icon name="fitness"></ion-icon>
        Ejercicio</ion-item>
        <ion-item (click)="misdietasClick()">
            <ion-icon name="logo-apple"></ion-icon>
          Mis dietas</ion-item>
          <ion-item (click)="misplanesClick()">
              <ion-icon name="heart"></ion-icon>
            Mis planes</ion-item>
            <ion-item (click)="miProgresoClick()">
                <ion-icon name="pulse"></ion-icon>
              Mi progreso</ion-item>
      <ion-item>
          <ion-icon name="help"></ion-icon>
        ¿Qué es Healthy Routine?</ion-item>
      <ion-item (click)="micuentaClick()">
          <ion-icon name="settings"></ion-icon>
        Mi cuenta</ion-item>
        <ion-item (click)="salir()">
            <ion-icon name="power"></ion-icon>
          Salir</ion-item>
     
    </ion-list>
  </ion-content>
</ion-menu>
<ion-router-outlet id="content2" main></ion-router-outlet>


<ion-content overflow-scroll="true" scrollX="true" scrollY="true">
  <ion-list no-lines>       
      <div *ngIf="usuario$ | async; let items; else loading">
          <ul>
              <div *ngIf="this.gen=='Masculino'">
                  <p *ngFor="let item of items">
                      Bienvenido {{ item.payload.val().nombres }}
                    
                  <p>
              </div>
              <div *ngIf="this.gen=='Femenino'">
                  <p *ngFor="let item of items">
                      Bienvenida {{ item.payload.val().nombres }}
                    
                  <p>
              </div>
          
          </ul>
          <div *ngIf="items.length === 0">No results, try clearing filters</div>
      </div>

      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="arrow-dropdown"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="bottom">
          <ion-fab-button (click)="presentPopover($event)"><ion-icon name="restaurant"></ion-icon></ion-fab-button>
          <ion-fab-button (click)="presentPopoverr($event)"><ion-icon name="fitness"></ion-icon></ion-fab-button>
        </ion-fab-list>

      </ion-fab>


      <div *ngIf="this.gen=='Masculino'">
          <img src="https://firebasestorage.googleapis.com/v0/b/healthy-routine.appspot.com/o/hombreperfil.jpg?alt=media&token=9d3147dc-0e95-4431-b4d3-17d8b44eeb57" class="center">
      </div>
      <div *ngIf="this.gen=='Femenino'">
          <img src="https://firebasestorage.googleapis.com/v0/b/healthy-routine.appspot.com/o/mujerperfil.png?alt=media&token=bdce9f5c-aa99-4ec2-afad-0c5c3fed8ac0" class="center">
      </div>
      <h4> {{ viewTitle }}</h4>


        <div style = "text-align: center;">
        <ion-button (click)="actualizarCalen()">Actualizar calendario</ion-button>
      </div>


    <ion-row>
        <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'month' ? 'primary' : 'secondary'" (click)="changeMode('month')">Mes</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'week' ? 'primary' : 'secondary'" (click)="changeMode('week')">Semana</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button expand="block" [color]="calendar.mode == 'day' ? 'primary' : 'secondary'" (click)="changeMode('day')">Día</ion-button>
          </ion-col>
      <!-- Move back one screen of the slides -->
      <ion-col size="6" text-left>
        <ion-button fill="clear" (click)="back()">
          <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
      <!-- Move forward one screen of the slides -->
      <ion-col size="6" text-right>
        <ion-button fill="clear" (click)="next()">
          <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>

              <calendar 
              [eventSource]="eventSource" 
              [calendarMode]="calendar.mode" 
              [currentDate]="calendar.currentDate"
              (onEventSelected)="onEventSelected($event)"
              (onTitleChanged)="onViewTitleChanged($event)"
              (onTimeSelected)="onTimeSelected($event)" 
              startHour="6"
              endHour="20"
              step="30"
              startingDayWeek="1">
              </calendar>
              <ion-card>
                  <ion-card-header tappable (click)="collapseCard = !collapseCard">
                    <ion-card-title>Nuevo evento</ion-card-title>
                  </ion-card-header>
                  <ion-card-content *ngIf="collapseCard">
                    <ion-item>
                      <ion-input type="text" placeholder="Título" [(ngModel)]="event.title"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-input type="text" placeholder="Descripción" [(ngModel)]="event.desc"></ion-input>
                    </ion-item>
                    <ion-item>
                      <ion-label>Inicio</ion-label>
                      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.startTime" [min]="minDate"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>Fin</ion-label>
                      <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="event.endTime" [min]="minDate"></ion-datetime>
                    </ion-item>
                    <ion-item>
                      <ion-label>¿Todo el día?</ion-label>
                      <ion-checkbox [(ngModel)]="event.allDay"></ion-checkbox>
                    </ion-item>
                    <ion-button fill="outline" expand="block" (click)="addEvent()" [disabled]="event.title == ''">Agregar evento</ion-button>
               
                  </ion-card-content>
                </ion-card>
     
 </ion-list>

 <div class="my-tabs">
    <div class="my-tabs-inner">
      <ng-container *ngIf="tab === 'calendar'">
        Your calendar content
      </ng-container>

      <ng-container *ngIf="tab === 'speakers'">
        Your speakers content
      </ng-container>

      <ng-container *ngIf="tab === 'map'">
        Your map content
      </ng-container>
    </div>

    <ion-tab-bar slot="bottom">
      <ion-tab-button >
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="nutricionUserClick()">
        <ion-icon name="logo-apple"></ion-icon>
        <ion-label>Nutrición</ion-label>
      </ion-tab-button>

      <ion-tab-button (click)="ejercicioClick()">
        <ion-icon name="fitness"></ion-icon>
        <ion-label>Ejercicio</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </div>
</ion-content>




