.error-messages{
    font-size: 0.7em;
    color: red;
    text-align: center;
}

.h3{
    text-align:justify;
}
.tomarfoto{
  text-align: center;
    align-items: center;
}
.botones{
    text-align: center;
    align-items: center;
  }

  img{
    width: 150px;
    height: 150px;
    background-position: -25px -20px;  
    border-radius: 50%;
    background-size: cover;
    align-items: center;
    display:block;
    margin:auto;  
  }