<ion-header>
  <ion-toolbar>
   <h3>Editar plan</h3>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="ejercicionadmin"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-list>
  <ion-item>
    <ion-label position="floating">
       <ion-icon name="arrow-round-forward"></ion-icon>
        Nombre del plan
    </ion-label>
    <ion-input id="inputnombre" type="text" [(ngModel)]="plan.nombre"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">
        <ion-icon name="fitness"></ion-icon>
       Descripción
      </ion-label>
    <ion-input id="inputdescripcion"  type="text" [(ngModel)]="plan.descripcion" ></ion-input>
  </ion-item>

  <ion-item>
      <ion-label position="floating">
        <ion-icon name="clock"></ion-icon>
       Duración del plan (En días)
      </ion-label>
    <ion-input id="inputduracion"  type="text" [(ngModel)]="plan.duracion" ></ion-input>
  </ion-item>

  <ion-item>
      <ion-label>
          <ion-icon name="heart-empty"></ion-icon>
        Objetivo</ion-label>
      <ion-select placeholder="Selecciona una opción" id="objetivo">
          <ion-select-option value="Perder peso">Perder peso </ion-select-option>
        <ion-select-option value="Mantener forma">Mantener forma </ion-select-option>
        <ion-select-option value="Ganar masa muscular">Ganar masa muscular </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>
            <ion-icon name="gender"></ion-icon>
          Genero</ion-label>
        <ion-select placeholder="Selecciona una opción" id="genero">
            <ion-select-option value="Masculino">Masculino </ion-select-option>
          <ion-select-option value="Femenino">Femenino </ion-select-option>
          <ion-select-option value="No definido">No definido </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>
            <ion-icon name="leaf"></ion-icon>
          Estado físico</ion-label>
        <ion-select placeholder="Selecciona una opción" id="estadofisico">
            <ion-select-option value="Sedentario">Sedentario </ion-select-option>
          <ion-select-option value="Ligeramente activo">Ligeramente activo </ion-select-option>
          <ion-select-option value="Activo">Activo </ion-select-option>
          <ion-select-option value="Muy activo">Muy activo </ion-select-option>
        </ion-select>
      </ion-item>

<ion-item>
    <ion-label position="floating">
      <ion-icon name="link"></ion-icon>
      Link imagen
    </ion-label>
  <ion-input id="inputimagen"  type="text" [(ngModel)]="plan.imagen" ></ion-input>
</ion-item>
</ion-list>

<ion-list> 
<h1>
  Ejercicios
</h1> 
<ion-item *ngFor="let item of itemsEjercicio | async">
   <ion-card (swipe)="elementoSeleccionado(item,item.key)" (click)="elementoSeleccionado(item,item.key)">
   <ion-card-header>
     <ion-card-title>Nombre del ejercicio: {{item.nombre}}</ion-card-title>
     <ion-card-subtitle>Descripción del ejercicio: {{item.descripcion}}</ion-card-subtitle>
   </ion-card-header>
   <ion-card-content>
   </ion-card-content>
   <img src={{item.imagen}}/>
 </ion-card>

</ion-item>
</ion-list>  
<div clas="botones">
    <ion-button color="light" (click)="actualizarPlan(plan)">
        <ion-icon name="refresh"></ion-icon>
      Actualizar plan</ion-button>
    <ion-button color="dark" (click)="volver()">Atrás</ion-button>
</div>
  
</ion-content>
