<ion-header>
    <ion-toolbar>
     <h3>Mis dietas</h3>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="userhome"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <h1>Bienvenido(a) a tus dietas, aquí podrás encontrar la dieta que has seleccionado</h1>

   <ion-list> 
      
     <ion-item *ngFor="let item of listaDietasRef$ | async">
      <div class="card">
        <ion-grid style="height: 100%">
          <ion-row justify-content-center align-items-center style="height: 100%">
            <ion-card (click)="elementoSeleccionado(item,item.key)">
            <ion-card-header>
            
              <ion-card-title>Nombre de la dieta: {{item.nombre}}</ion-card-title>
            </ion-card-header>
                <img src="https://firebasestorage.googleapis.com/v0/b/javesaludprueba.appspot.com/o/recomendada.jpg?alt=media&token=dbea22ac-1561-425a-b9e3-cbe724d4ec55">
            <ion-card-content>
                <p>
                    <ion-icon name="heart"></ion-icon>
                  Objetivo (En días): {{item.objetivo}}</p>
                <p>
                    <ion-icon name="clock"></ion-icon>
                  Duración (En días): {{item.duracion}}</p>
                <img src={{item.imagen}}/>
            </ion-card-content>
                <img src="https://firebasestorage.googleapis.com/v0/b/javesaludprueba.appspot.com/o/5estrellas.png?alt=media&token=af5e7116-6ad9-490a-aee2-841dcd358f92">

          </ion-card>
        </ion-row>
      </ion-grid>
    </div>
     </ion-item>
   </ion-list>
</ion-content>
