<ion-header>
    <ion-toolbar>
     <h3>Editar dieta</h3>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="nutricionadmin"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
<ion-list>
    <ion-item>
        <ion-label position="floating">
          <ion-icon name="arrow-round-forward"></ion-icon>          
            Nombre de la dieta
        </ion-label>
        <ion-input id="inputnombre" type="text" [(ngModel)]="dieta.nombre"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">
            <ion-icon name="arrow-round-forward"></ion-icon>          
             Descripción de la dieta
          </ion-label>
          <ion-input id="inputdescripcion" type="text" [(ngModel)]="dieta.descripcion"></ion-input>
        </ion-item>

      <ion-item>
          <ion-label>Meta</ion-label>
          <ion-select placeholder="Selecciona una opción" id="meta">
              <ion-select-option value="Perder peso">Perder peso</ion-select-option>
            <ion-select-option value="Mantener forma">Mantener forma</ion-select-option>
            <ion-select-option value="Ganar masa muscular">Ganar masa muscular</ion-select-option>
          </ion-select>
        </ion-item>

    <ion-item>
        <ion-label position="floating">
          <ion-icon name="clock"></ion-icon>
          Duración de la dieta (En días)
        </ion-label>
      <ion-input id="inputduracion"  type="text" [(ngModel)]="dieta.duracion" ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
          <ion-icon name="clock"></ion-icon>
         Calorías de la dieta
        </ion-label>
      <ion-input id="inputcalorias"  type="text" [(ngModel)]="dieta.calorias" ></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
          <ion-icon name="link"></ion-icon>
          Link imagen
        </ion-label>
      <ion-input id="inputimagen"  type="text" [(ngModel)]="dieta.imagen" ></ion-input>
    </ion-item>
  </ion-list>
  <h1>PLATOS</h1>
  <ion-list>  
      <div *ngFor="let item of itemsPlato | async ;let i=index" class=category-block>

          <ion-row no-padding class="category-banner">
            <ion-col text-left button tappable (click)="item.expanded = !item.expanded" aling-self center>
                {{ item.tipo }}
            </ion-col>
          </ion-row>
  
          <div *ngIf="item.expanded">
              <ion-item >
                  <ion-card (click)="elementoSeleccionado(item,item.key)"> 
                 <ion-card-header>
                   <ion-card-title>Nombre del plato: {{item.nombre}}</ion-card-title>
                   <ion-card-subtitle>Descripción del plato: {{item.descripcion}}</ion-card-subtitle>
                 </ion-card-header>
                 <ion-card-content>
                 </ion-card-content>
                 <img src={{item.imagen}}/>
                 <p>
                   <ion-icon name="clock"></ion-icon>
                   Tiempo de preparación {{item.duracion}}
                 </p>
                 <p>
                   <ion-icon name="heart"></ion-icon>
                   Calorias {{item.calorias}}
                 </p>
                   <h2>
                     Ingredientes
                   </h2>
                   <div *ngFor="let obj of item.ingredientes">
                     <td>- {{obj}}</td>
                   </div>
                   <h2>
                     Preparación
                   </h2>
                   <div *ngFor="let obj of item.pasos;let i=index">
                     <td> {{i+1}}. {{obj}}</td>
                 </div>
               </ion-card>
              </ion-item>
             </div>
             </div> 
 </ion-list> 
  <div clas="botones">
      <ion-button color="light" (click)="actualizardieta(dieta)">
          <ion-icon name="refresh"></ion-icon>
        Actualizar dieta</ion-button>
      <ion-button color="dark" (click)="volver()">Atrás</ion-button>
  </div>
    
</ion-content>
