 ion-card{
    display: flex;
    flex-direction: column;
    width: 70% !important;
    margin: 0 !important;
     text-align: center;
    align-items: center;
  }
  ion-card-subtitle{
    text-align:justify;
  }
  .presentacion{
    text-align: center;
    align-items: center;
  }
  .card
  {
       margin-bottom: 20px !important;
  }